<div class="info-pair">
    <div class="header">
        <div class="label csc-transport-transportGroup-label"></div>
    </div>
    <div class="content csc-transport-transportGroup">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <span class="label required csc-transport-referenceNumber-label"></span><span class="required">*</span>
                    </div>
                    <div class="content csc-transport-reference-number-patternChooserContainer clearfix">
                        <input type="text" class="csc-transport-referenceNumber pattern-chooser-input" />
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-transport-agentsGroup-label label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-transport-agent-label"></td>
                                <td class="csc-transport-agentContact-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="csc-transport-agentsGroup">
                                <td><input class="csc-transport-agent" /></td>
                                <td><input class="csc-transport-agentContact" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header"></div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-transport-departurePoint-label"></td>
                                <td class="csc-transport-destination-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input class="csc-transport-departurePoint" /></td>
                                <td><input class="csc-transport-destination"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-transport-departureDate-label"></td>
                                <td class="csc-transport-departureTime-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="csc-transport-agentsGroup">
                                <td><input type="text" class="csc-transport-departureDate" /></td>
                                <td><input type="text" class="csc-transport-departureTime" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-transport-numberOfCratesObjects-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-transport-numberOfCratesObjects" />
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-transport-arrivalDate-label"></td>
                                <td class="csc-transport-arrivalTime-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="csc-transport-agentsGroup">
                                <td><input type="text" class="csc-transport-arrivalDate" /></td>
                                <td><input type="text" class="csc-transport-arrivalTime" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-transport-lenders-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-transport-lender input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div></div>
                    </div>
                    <div class="content">
                        <select class="csc-transport-method input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-transport-courier-label"></div>
                    </div>
                    <div class="content">
                        <input class="csc-transport-courier" />
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-transport-insuranceIndemnityGroup label"></div>
                    </div>
                </div>
                <div class="content">
                    <table>
                        <thead>
                        <tr>
                            <td class="csc-transport-insuranceIndemnityCurrency-label"></td>
                            <td class="csc-transport-insuranceIndemnityValue-label"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="csc-transport-insuranceIndemnityGroup">
                            <td><select class="csc-transport-insuranceIndemnityCurrency input-select"><option value="">Options not loaded</option></select></td>
                            <td><input type="text" class="csc-transport-insuranceIndemnityValue" /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="info-column">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-transport-remarks-label"></div>
                    </div>
                    <div class="content">
                        <input class="csc-transport-remarks" />
                    </div>
                </div>
        </div>
    </div>
</div>